<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436614329907-fbfkisfr1gi63f5ohi12kdos23k9tlai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436614329907-fbfkisfr1gi63f5ohi12kdos23k9tlai</string>
	<key>API_KEY</key>
	<string>AIzaSyAD5ub7nkn_W3lKTGWcDJNv0N6n2-swdZc</string>
	<key>GCM_SENDER_ID</key>
	<string>436614329907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swainfo.PlantIdentifire</string>
	<key>PROJECT_ID</key>
	<string>plant-identifier-c449b</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-identifier-c449b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436614329907:ios:5619ccffd5240f281b9546</string>
</dict>
</plist>